@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Poppins Medium';
    src: url('./assets/fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: 'Poppins SemiBold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Poppins Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
  }
}

@layer components {
  .introInput {
    @apply w-full p-5 mb-5 border rounded-md outline-none border-opacity-40 font-pop-medium text-dark-blue border-grayish-blue;
  }
}
